.roundedButton {
  background-color: var(--red);
  color: var(--white);

  border: 0;
  border-radius: 1.5rem;

  font-size: 1rem;
  font-weight: bolder;
  padding: 0.6rem 1.5rem;

  cursor: pointer;

  :hover {
    box-shadow: 0 0 10px;
  }

  font-family: "Poppins" sans-serif !important;
}
