.card {
  align-items: center;

  min-width: 150px;
  max-width: 200px;

  padding: 0.5rem;
  border: solid var(--card-border) 1px;
  border-radius: 0.4rem;

  background: rgba(167, 206, 172, 0.07);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(167, 206, 172, 0.29);

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 0.5rem;
    // color: black;
    font-size: 1rem;
  }

  p:first-of-type {
    font-weight: bold;
  }

  p:nth-of-type(2) {
    color: var(--text-muted);
    font-size: 0.85rem;

    span {
      font-weight: bold;
    }

    margin-bottom: 1rem;
  }

  svg {
    cursor: pointer;
    margin: 1rem 0.5rem 0;

    :hover {
      opacity: 0.75;
      transform: scale(1.2);
      transition-duration: 200ms;
    }
  }
}
